@import '@/app/styles/variables.scss';

.RadioButton {
  label {
    display: grid;
    grid-template-columns: 25px 150px;
    grid-gap: 0.2em;
    cursor: pointer;
  }
}

.radio[type='radio'] {
  appearance: none;
  background-color: $textWhite;
  margin: 0;
  font: inherit;
  color: $textBlack;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid $textBlack;
  border-radius: 50%;
  display: grid;
  place-content: center;
  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $textBlack;
    background-color: $textBlack;
    transform-origin: top bottom;
  }
  &:checked::before {
    transform: scale(1);
  }
}
