// colors
$mainBackground: white;
$secondaryBackground: black;
$accentColor: #db4444;
// font colors
$textBlack: #000;
$textWhite: #fafafa;
$textGray: #7d8184;
// fonts
$mainFontFamily: 'Poppins', sans-serif;
